*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
/app/release
/app/src/main/assets/icgrid-6540f-859a57f482d3.json
.externalNativeBuild
